*-debug.log
*-error.log
.DS_Store
/.history
/.nyc_output
/.sfdx
/.vscode/settings.json
/dist
/lib
/package-lock.json
/referencedxproject/.sfdx
/sfdx-source
/stuff
/target
/tmp
node_modules
npm-shrinkwrap.json
oclif.manifest.json
output.json
sfdx-project.json
yarn.lock