*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
.DS_Store
yarn.lock
oclif.manifest.json
npm-shrinkwrap.json
/.history
sfdx-project.json
/sfdx-source
/.sfdx
output.json
/target
/.vscode/settings.json